/* 防止文字变歪 */
.card-widget {
    padding: 10px!important;
}

/* 那年今日卡片：https://blog.btwoa.com/a0685bc9/ */

#aside-content .card-history .swiper-wrapper {
    flex-direction: column
}

#aside-content .card-history .item-headline {
    margin-left: 0;
}

#aside-content .card-history .history_slide {
    text-align: left;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start
}

#aside-content .card-history .history_slide_time {
    color: var(--efu-secondtext);
    font-size: 14px;
    font-style: italic;
    font-weight: lighter
}

#aside-content .card-history .history_slide_link {
    line-height: 1.5;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical
}

#aside-content .card-history .history_slide_link a {
    color: var(--efu-main);
    padding: 0 4px;
    border-radius: 4px
}

#aside-content .card-history .history_slide_link a:hover {
    color: var(--efu-white);
    background: var(--efu-main)
}

/* 引入HarmonyOS Sans SC字体 */
@import url('https://cdn.xrbk.cn/fonts/HarmonyOS_Sans_SC/result.css');
/* 确保所有文本元素都使用HarmonyOS字体 */
body{
  font-family: "HarmonyOS Sans SC" !important;
}

/* 侧边栏新增vx卡片：https://baiyi.ink/posts/bfde1066.html */
#aside-content .card-widget#card-wechat {
  background: #57bd6a;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  cursor: pointer;
  border: none;
  height: 110px
}
/* qq卡片 */
#aside-content .card-widget#card-qq {
  background: #425aef;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  cursor: pointer;
  border: none;
  height: 110px
}
[data-theme=dark] #aside-content .card-widget#card-qq {
  background-color: #121121;
  border: var(--style-border)
}

/* qq卡片结束 */
[data-theme=dark] #aside-content .card-widget#card-wechat {
  background-color: #121121;
  border: var(--style-border)
}

#flip-wrapper {
  -webkit-perspective: 1000;
  perspective: 1000
}

#flip-wrapper {
  position: relative;
  width: 235px;
  height: 110px;
  z-index: 1
}

#flip-content {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: cubic-bezier(0,0,0,1.29) .3s
}

#aside-content #flip-wrapper #flip-content .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size: 100%
}

#aside-content #flip-wrapper #flip-content .back.face {
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
  background-size: 100%
}

#flip-wrapper:hover #flip-content {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg)
}

/* 代码高亮样式 */
code:not([class*='language-']) {
    color: var(--efu-code-text) !important;
    background: var(--efu-code-background) !important;
}

/* 引用块颜色 */
blockquote {
    background-color: var(--efu-theme);
    color: var(--efu-white)
}

/* 聊天气泡 */
[data-theme="dark"] {
    --efu-chat-background: #4b3539;
    --efu-chat-a-background: #2b3a5c;
}

[data-theme="light"] {
    --efu-chat-background: #332c36;
    --efu-chat-a-background: #f7f9fe;
}

.article-post-content-chat-container {
    margin: 0;
  }  

.chat-item {
    display: flex;
    margin-bottom: 0rem;
    position: relative;
  }

.chat-item.user {
    justify-content: flex-end;
    margin-bottom: 0rem
  }
  
.chat-item.assistant {
    justify-content: flex-start;
    margin-bottom: 0rem
  }

.chat-bubble {
    padding: 0px 12px;
    border-radius: 10px;
    max-width: 70%;
    max-height: 50%;
    word-wrap: break-word;
    word-break: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.chat-item.user .chat-bubble {
    background-color: var(--efu-chat-background);
    text-align: left;
    color: #ffffff;
    margin-top: 15px;
  }
  
.chat-item.assistant .chat-bubble {
    background-color: var(--efu-chat-a-background);
    text-align: left;
    color: var(--efu-fontcolor);
    margin-top: 15px;
  }
.chat-item.user .chat-nickname {
    position: absolute;
    top: -18px;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    color: var(--efu-fontcolor);
    background-color: var(--efu-background);
    padding: 2px 5px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
  
.chat-item.assistant .chat-nickname {
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    color: var(--efu-fontcolor);
    background-color: var(--efu-background);
    padding: 2px 5px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }

/* 留言板 */
#form-wrap .no-lightbox.entered.loaded{
    margin: 0 auto;
    max-width:100%;
}
/* 底部动物 */
#footer-animal {
    position: relative;
    width: 100%;
}

#footer-animal .animal-wall {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    max-width: none;
    background: #bcb0a4 url(https://p.qjqq.cn/cover/202410191400532.png/color) repeat center;
    background-size: auto 100%;
    box-shadow: 0 4px 7px rgba(0,0,0,.15);
}

@media screen and (max-width: 1023px) {
    #footer-animal .animal-wall {
        height:4vw
    }
}

#footer-animal img.animal {
    position: relative;
    max-width: min(974px,100vw);
    margin: 0 auto;
    display: block;
}

#footer-bar {
    margin-top: 0 !important;
}