
/* 宽屏适配 */
.layout{
    width: 100%;
    max-width:1400px;
}

.layout > div:first-child {
    width: 100%;
}
#post {
    width: 78%;
}
.aside-content {
    max-width: 312px;
    min-width: 300px;
}
.layout.hide-aside {
    max-width: 1400px;
}

#recent-posts > .recent-post-item {
    height: 19em;
    border: var(--style-border);
}
#recent-posts > .recent-post-item >.recent-post-info {
    padding: 0 56px;
    width: 64%;
}
@media screen and (max-width: 768px) {
    #recent-posts > .recent-post-item {
        height: auto;
    }
    #recent-posts > .recent-post-item >.recent-post-info {
        padding: 20px 20px 30px;
        width: 100%;
        text-align: center;
    }
}

/* 页脚透明 */
#footer {
    background: var(--icat-footer-background);
}
  
#footer #footer-wrap {
    color: var(--font-color)
}
  
#footer #footer-wrap a {
    color: var(--font-color)
}

/* 个人卡片背景 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(/img/card.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
}
[data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(/img/card.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
}


/* 评论编辑块调整 */

.tk-submit-action-icon.__markdown {
    display: none;
}
/* markdown编辑快隐藏 */

.tk-avatar {
    border-radius: 4px !important;
}
.tk-comment .tk-submit .tk-avatar, .tk-replies .tk-avatar {
    height: 2.5rem !important;
    width: 2.5rem !important;
}
.tk-comment .tk-submit .tk-avatar .tk-avatar-img, .tk-replies .tk-avatar .tk-avatar-img {
    height: 2.5rem !important;
}
.tk-ruser {
    color: #409eff;
    opacity: .8;
}
@media screen and (max-width: 768px) {
    .tk-comment .tk-submit .tk-avatar, .tk-replies .tk-avatar {
        height: 2rem !important;
        width: 2rem !important;
    }
    .tk-comment .tk-submit .tk-avatar .tk-avatar-img, .tk-replies .tk-avatar .tk-avatar-img {
        height: 2rem !important;
    }
}
.tk-nick,
.tk-meta a strong {
    font-size: 18px;
    color: #409eff;
}
.tk-tag-green {
    border: var(--style-border) !important;
    border-radius: 4px !important;
    margin-left: 0.2rem;
}
.tk-time {
    margin-left: 0.4rem;
}

.tk-extras {
    padding-bottom: 15px;
    border-bottom: 1px dashed var(--hr-border);
}
.tk-extra {
    border: var(--style-border-always);
    padding: 4px 6px 4px 6px;
    border-radius: 8px;
    margin-right: 4px !important;
}
.tk-expand {
    margin-top: 8px;
    background-color: var(--icat-background);
    color: var(--icat-fontcolor);
    border-radius: 8px;
    border: var(--style-border);
}
.tk-footer {
    padding-bottom: 1em;
}
.tk-footer a {
    color: #999999;
}
.tk-footer a:hover {
    color: #409eff;
}

.tk-admin-comment-item {
    padding: 1em;
    background: var(--global-bg);
    border-radius: 12px;
    border: var(--style-border-always);
    margin-bottom: 12px;
}
.tk-admin-comment-meta,
.tk-content {
    color: var(--icat-fontcolor);
}
.tk-admin-actions {
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
}
/* 评论管理 */

.tk-panel {
    border: var(--style-border-always);
}
.tk-admin-config-groups {
    padding: 0.5em;
    background: var(--global-bg);
    border-radius: 12px;
    border: var(--style-border-always);
}
.tk-admin-config-groups .tk-admin-config-group-title {
    background: var(--icat-background) !important;
    border-radius: 6px;
    border: var(--style-border-always);
    color: var(--icat-fontcolor);
}
.tk-admin-config-item {
    color: var(--icat-fontcolor);
}

/* 主页文章卡片擦亮动画 */
#recent-posts > .recent-post-item .post_cover {
    position: relative;
}
#recent-posts>.recent-post-item .post_cover::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    content: '';
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    transition: transform .3s;
    -webkit-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
    -moz-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
    -o-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
    -ms-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
    transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
}
#recent-posts>.recent-post-item .post_cover:hover::after {
    -webkit-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
    -moz-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
    -o-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
    -ms-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
    transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
}
